<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
   <dict>
     <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
		  <string>https://github.com/tncg/maxtrax/blob/36bef011ee893fa3d1c3f23f4102a1adeec790d9/ad-hoc-f0a5895f-6c89-482d-8d87-50a80668e954.ipa</string>
        </dict>
      </array><key>metadata</key>
      <dict>
       <key>bundle-identifier</key>
       <string>com.thenetconsultinggroup.maxtrax</string>
       <key>bundle-version</key>
       <string>1.0</string>
       <key>kind</key>
       <string>software</string>
       <key>title</key>
       <string>NCG MaxTrax Defects v2.0</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
